# This is Git's per-user configuration file.
[user]
	name = skanehira
	email = sho19921005@gmail.com

[core]
	quotepath = false
	precomposeunicode = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[commit]
	verbose = true

[color "status"]
  added     = green
  changed   = red
  untracked = yellow
  unmerged  = magenta

[status]
	showUntrackedFiles = all

[pull]
	rebase = true

[push]
	default = current
	autoSetupRemote = true

[rebase]
	autostash = true

[init]
	defaultBranch = main

[alias]
	c = "!checkout() { git branch --all | fzf | tr -d '[:space:]' | xargs git checkout; }; checkout"

# difftastic
[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true
